<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      The sever 
<button (click)="getPhoto()" item-right ion-button>Random Test</button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class ="padding">
  <ion-list>
    <ion-item class ="messageitem" [ngClass]="{'message-from-other-user': message.userName !== USER_NAME_CONSTANT}" *ngFor= "let message of messageService.messages | async" >
      <ion-avatar item-left>
        <ion-icon class="anonymousUserImageIcon" name="person"></ion-icon>
      </ion-avatar>
       <p>{{message.userName}}</p>
      <h2 *ngIf="!doesThisMessageContainAnImage(message)&& message.messageContent.indexOf('geo:') ===-1" [innerHTML]="message.messageContent | linky:{newWindow: false}"></h2>
      <img *ngIf="doesThisMessageContainAnImage(message)" [src]="getImageFromMessageContent(message)" />
      <a  *ngIf="message.messageContent.indexOf('geo:') !==-1" [href]="displayGeo(message.messageContent)">see location</a>
      <ion-note item-right>{{formatDateTo_hhmm(message.messageDate)}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
      
  
    <!-- Not using ion-input due to undesirable keyboard behavior -->
          <button (click)="getPhoto()" item-left ion-button><ion-icon name="camera"></ion-icon></button>
          <button (click)="getLocation()" item-left ion-button><ion-icon name="globe"></ion-icon></button> 
    <input id="current-message-input" [(ngModel)]="currentMessage" type="text" placeholder="Message" />
    <button (click)="send()" item-right ion-button><ion-icon name="send"></ion-icon></button>
  </ion-item>
</ion-footer>

