page-home {
  .anonymousUserImageIcon {
    font-size: 3.5rem;
  }
  .padding{
    background-color:yellowgreen

  }
  ion-footer {
    position: fixed;
    #current-message-input {
      width: 100%;
      background-color:transparent;
       color:red;
      border: black;
     font: 100% Helvetica, sans-serif;
    }
  }
  .messageitem{
    background-color:transparent
    

  }
  ion-note{
   background-color:black;
  font: 100% Helvetica, sans-serif;
    color:red;
  }
.message-from-other-user {
font: 100% Helvetica, sans-serif;
background-color: cornflowerblue;
border:black;
    }

 
}
